.loginForm {
  width: 28vh;
  margin: 0 auto;
  margin-left: 1vh;
  padding: 6px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 2vh;
}

.centralizar {
  display: flex;
  align-items: center;
  top: 35vh;
  position: relative;
  flex-direction: column;
}

.ajusteTeste {
  display: flex;
  flex-direction: column;
}

.divButton {
  text-align: center;
}

.teste {
  background-color: aquamarine;
  top: 15vh;
  border-radius: 16px;
  width: 100vh;
  height: 80vh;
  position: relative;
}