/* Table.module.css */
.container {

  flex-direction: row;

  /* Cor de fundo cinza */
}

.menu {
  background-color: lightgray;
  /* Cor de fundo do menu */
  border: 1px solid black;
  display: flex;
  justify-content: center;
  padding: 20px;
}


.menuList {
  list-style: none;
  margin: 0;
  padding: 0;
}

.menuItem {
  display: inline-block;
  margin-right: 10px;
}

.menuItem a {
  color: black;
  text-decoration: none;
}

.menuItem a:hover {
  text-decoration: none;
}